#chatBody {
    width: 1000px;
    height:300px;
    margin: 20px auto;
    border: dashed #dcb2bb;
    overflow: auto;
}

.formWrapper{
    margin: auto;
    width: 300px;
    text-align: center;
}

#chatForm {
}

#user {
    text-align: center;
}

