.start-container {
  padding: 100px 0 0 0; }
  .start-container .text-large {
    font-size: x-large; }
  .start-container label {
    display: block;
    font-weight: normal;
    margin: 0 0 35px 0; }
  .start-container input,
  .start-container button {
    display: block;
    margin: 0 auto 15px auto;
    width: 300px;
    max-width: 95%;
    text-align: center; }
