<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start screen</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/start.css">
</head>
<body>
    <div class="container start-container">

        <div class="form-group">
            <label for="nameInput" class="text-info text-center text-large">
                Enter your name to start talking
            </label>
            <input type="text" id="nameInput" class="form-control" placeholder="Name">
            <button type="button" class="btn btn-success">Continue</button>
        </div>

    </div>
</body>
</html>