<link rel="stylesheet" href="header.css">
<nav class = "navbar navbar-default" role = "navigation">
    <div class="container">
        <p id="headerText">Hi <span class="text-info">user</span> from <span class="text-info">city</span></p>
        <!-- Menu button -->
        <div class="btn-group" id="menu">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Change name</a></li>
                <li><a href="#">Change city</a></li>
                <li><a href="#">Set default tags</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Find new chat</a></li>
            </ul>
        </div>
    </div>
</nav>